<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="basebaseservice" class="com.qjx.mini.test.BaseBaseService">
        <property type="com.qjx.mini.test.AServiceImpl" name="as" ref="aservice"/>
    </bean>
    <bean id="aservice" class="com.qjx.mini.test.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="hello world"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="com.qjx.mini.test.BaseService" name="ref1" ref="baseservice"/>
    </bean>
    
    <bean id="baseservice" class="com.qjx.mini.test.BaseService">
        <property type="com.qjx.mini.test.BaseBaseService" name="bbs" ref="basebaseservice"/>
    </bean>

</beans>